@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Supreme-Variable";
  src: url("/fonts/Supreme-Variable.woff2") format("woff2"),
    url("/fonts/Supreme-Variable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color: #ddd;
  --primary-text-color: #000;
  --secondary-text-color: #333;
  --link-text-color: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0f0f11;
    --primary-text-color: #fff;
    --secondary-text-color: #aaa;
    --link-text-color: #ccc;
  }
}

body,
html {
  @apply h-full w-full;
}

body {
  font-family: "Supreme-Variable";
  @apply bg-[color:var(--background-color)] text-base font-normal leading-normal text-[color:var(--primary-text-color)];
}

h1,
h2 {
  @apply font-bold -tracking-wide;
}

h2 {
  @apply mb-1;
}

a,
p,
span,
ul {
  @apply tracking-[-0.01em];
}

p {
  @apply mb-4;
}

a,
span,
ul {
  @apply text-[color:var(--link-text-color)];
}

p,
span,
ul {
  @apply text-[color:var(--secondary-text-color)];
}

ul {
  @apply list-disc;
}

li {
  @apply ml-6;
}

main {
  @apply relative mx-8 mb-8 h-full;
}

article,
header {
  @apply mb-12;
}

img {
  @apply mb-8 w-full max-w-[120px] bg-[color:var(--primary-text-color)];
}

footer {
  @apply mb-16 text-xs;
}

#home {
  @apply absolute;
}

#useful-links ul li {
  @apply mb-6;
}

@media screen and (min-width: 32rem) {
  body {
    @apply text-2xl;
  }

  h2 {
    @apply mb-4;
  }

  main {
    @apply mx-20  mb-20 max-w-lg;
  }

  article,
  footer,
  header {
    @apply mb-20;
  }

  img {
    @apply mb-16 max-w-[180px] bg-[color:var(--primary-text-color)];
  }

  footer {
    @apply text-base;
  }
}
